body {
    background:rgb(32, 42, 44);
    font-size:1.5rem;
    color:white;
    padding: 0;
    margin: 0;
}

p, h4, ul {
    padding-left: 4rem;
}

p, input {
    line-height: 0.5;
    font-size: 12pt;
}

li {
    font-size: 12pt;
}

.sticky {
    position: sticky;
    top: 0;
    background:rgb(35, 58, 62);
    padding: 1rem;
    margin: 0;
}